section {
    display: flex;
    width: 100%;
    background-color: lightblue;
    height: 100px;
    border: 1px solid red;
  }
  
  #logo {
    background-color: aquamarine;
    flex: 3;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  nav {
    background-color: lightseagreen;
    flex: 2;
    margin: 5px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  

  
  a {
    text-decoration: none;
    color: white;
    background-color: aquamarine;
    font-size: 19px;
    border: 1px solid yellow;
    padding: 5px;

  }


  a:hover {
    color: firebrick;
  }
  
  h1 {
    border: 1px solid red;
    margin-left: 10px;
    text-align: center;
  }


  header {

    background-color: aquamarine;
    height: 420px;
    width: 100%;
    display: flex;
  }
  
  .containers {

    border:1px solid black;
    margin:5px;
    height:270px;
  }




  #info {
    display: block;
    height: 550px;
    width: 100%;
    background-color: lightgoldenrodyellow;
    justify-content:center;
    align-items: center;
    
  }



  .imgcont {

    background-color: white;
    width: 150px;
    height: 150px;
    border:#3882F6 solid 3px;
    border-radius: 5px;
  }




  .mainimgcont {
    display: flex;
    gap: 1em;
    justify-content:center;
    align-items: end;
    height: 220px;
    margin-bottom: 2px;
    
  }

  .mainimgcont1 {
    display: flex;
    gap: 1em;
    justify-content:center;
    align-items: start;
    height: 220px;
  }


  .imgcont1 {

    background-color: white;
    width: 150px;
    height: 100px;
    border: white solid 3px;
  }


  #header  {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
  }