body {
  margin: 0;
  padding: 0;
}

.special {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#butt {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: #f57d29;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  transition-duration: 0.4s;
  font-family: Rowdies;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #f57d29;
  border: none;
  width: 100px;
  height: 30px;
  box-shadow: 0px 2px 10px 5px #f57d29;
}

button:active {
  transition: 0s;
  border: 2px inset;
}

section {
  display: flex;
  width: 100%;
  background-color: #0e1f2f;
  height: 70px;
}

#logo {
  background-color: #0e1f2f;
  flex: 3;
  margin: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav {
  background-color: #0e1f2f;
  flex: 2;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: white;
  background-color: #0e1f2f;
  font-size: 15px;
  padding: 5px;
  overflow: hidden;
  font-family: montserrat;
  transition: 0.10s;
  border-radius: 5px;
}


nav > a:hover {
  width: 90px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  background-color:white;
  font-weight: 900;
 transition: ease-in-out 0.5s;
  color: #f57d29;
}





nav >a:active {
  border-style: inset;
  border: #4f0d97 5px solid;
}




h5 {
  font-size: 10px;
  text-align: center;
}

#fewter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted white;
}

h1 {
  margin-left: 10px;
  text-align: center;
  color: white;
  font-family: Rowdies;
  font-size: 50px;
}

h2 {
  color: white;
  font-family: Rowdies;
}

header {
  background-color: #0e1f2f;
  width: 100%;
  display: flex;
}

.containers {
  margin: 5px;
  height: 270px;
}

#info {
  display: block;
  height: 550px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imgcont {
  background-color: white;
  width: 220px;
  height: 190px;
  border: #f57d29 solid 3px;
  border-radius: 5px;
  transition: 0.5s;
}

.imgcont:hover {
  width: 230px;
  height: 200px;
  transition: 0.2s;
}

.mainimgcont {
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: end;
  height: 220px;
  margin-bottom: 2px;
  object-fit: contain;
}

.mainimgcont1 {
  display: flex;
  gap: 3.6em;
  justify-content: center;
  align-items: start;
  height: 220px;
}

.imgcont1 {
  width: 220px;
  height: 100px;
  border: #4f0d97 solid 6px;
  margin-top: 5px;
  border-radius: 5px;
  contain: content;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1f2f;
  border-top: 1px dotted white;
}

#img1 {
  height: 250px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

p {

  color: white;
  font-size: 10px;
  text-align: center;
}

#img1container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}

.header.containers {
  display: block;
  justify-content: center;
  align-items: center;
  height: 450px;
}

img {
  width: 420px;
  height: 250px;
}

.hvrimg:hover {
  opacity: 70%;
  cursor: pointer;
}

#brand {
  height: 40px;
  width: 60px;
  margin-left: 5px;
}

#brand:hover {
  cursor: pointer;
  filter: brightness(170%);
}

#headerart {
  width: 450px;
}

span {
  color: #f57d29;
}

.navigation {
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 5px #4f0d97;
  z-index: 1;
}

.imgcont.one {
  object-fit: contain;
}

.imgcont > img {
  width: 100%;
  height: 100%;
}

.quote {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6129b6;
}

.quote1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  background-color: #4f0d97;
}

h4 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  font-size: 10px;
  margin-left: 450px;
  opacity: 70%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 0em;
}

#git {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


.info {
  display: flex;
  justify-content: end;
  align-items: center;
}

.discordcont {
  display: flex;
  align-items: center;
}

#discord {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


#socials {
  gap: 1em;
}


.newlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px dotted #f57d29;
  border-top: 3px dotted #6129b6;
}

#imgaaah {

  width: 150px;
  height: 150px;
  animation:rotation 15s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



@media (max-width:925px) {

  .header.containers {
    display: block;
  }
}